<p id="notice"><%= notice %></p>

<center><h1 style="color:#611CBC">MOVIE REVIEW</h1></center>
<br/><br/>
<table width="1000">
  <thead style="color:#611CBC">
    <tr>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>DURATION</th>
      <th>DIRECTOR</th>
      <th>RATING</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.movie_length %></td>
        <td><%= movie.director %></td>
        <td><%= movie.rating %></td>
        <td><button><%= link_to 'Show', movie %></button></td>
        <td><button><%= link_to 'Edit', edit_movie_path(movie) %></button></td>
        <td><button><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
